@{
    ViewData["Title"] = "Home";
}
@model ProductsViewModel
<main class="all_collections">
    <div class="container">
        <div class="wrapper">
            <aside>
                <h1>Фильтр по цене</h1>
                <ul class="filter_wrapper">
                    <li class="price_filter">
                        <div class="price_filter_flex_wrapper">
                            <span>От</span>
                            <input placeholder="Руб" type="text" onfocus="this.classList.remove('valid_error')"
                                   onkeydown="return specialText(this, event)" maxlength="8" 
                                   value="@(Model.PriceInfo.From != 0 ? Model.PriceInfo.From.ToString() : "")" class="price_filter_input from">
                        </div>
                        <div class="price_filter_flex_wrapper">
                            <span>До</span>
                            <input placeholder="Руб" type="text" onfocus="this.classList.remove('valid_error')"
                                   onkeydown="return specialText(this, event)" maxlength="8"
                                   value="@(Model.PriceInfo.To != 0 ? Model.PriceInfo.To.ToString() : "")" class="price_filter_input to">
                        </div>
                        <button class="price_filter_button">Применить</button>
                    </li>
                </ul>
            </aside>
            <section>
                <div class="cat_top">
                    <h1>Каталог</h1>
                    <select>
                        <option disabled value="">Сортировать</option>
                        <option selected value="">по возрастанию цены</option>
                        <option value="">по убыванию цены</option>
                    </select>
                </div>

                <ul class="categories">
                    <li class="categories__wrapper">
                        <div class="categories__item">
                            <a asp-action="Index" asp-controller="Product" asp-route-category="Sofas">
                                <img class="cat_img" src="../img/catImg/sofas.jpg" alt="">
                                <span>Диваны</span>
                            </a>
                        </div>
                        <div class="categories__item">
                            <a asp-action="Index" asp-controller="Product" asp-route-category="ArmChairs">
                                <img class="cat_img" src="../img/catImg/armchairs.jpg" alt="">
                                <span>Кресла</span>
                            </a>
                        </div>
                    </li>
                    <li class="categories__wrapper">
                        <div class="categories__item">
                            <a asp-action="Index" asp-controller="Product" asp-route-category="Chairs">
                                <img class="cat_img" src="../img/catImg/chairs.jpg" alt="">
                                <span>Стулья</span>
                            </a>
                        </div>
                        <div class="categories__item">
                            <a asp-action="Index" asp-controller="Product" asp-route-category="Tables">
                                <img class="cat_img" src="../img/catImg/tables.jpg" alt="">
                                <span>Столы</span>
                            </a>
                        </div>
                    </li>
                </ul>

                <ul class="products">
                   @foreach (var item in Model.Products)
                    {
                        @Html.PartialAsync("ProductItem", item).Result
                    }
                </ul>
                <div page-model="Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="page"
                    page-class-secondary="page_secondary" page-class-selected="page_active" page-url-route-category="@ViewData["CurrentCategory"]"
                     page-url-route-from="@Model.PriceInfo.From" page-url-route-to="@Model.PriceInfo.To">

                </div>
            </section>
        </div>
    </div>
</main>