@model Product
    <main class="product_page">
        <section class="product">
            <div class="container">
                <div class="product_top">
                    <img class="product_img" src="~/@Model.ImageUrl" alt="">
                    <div class="product-buy-info">
                        <h1>@Model.Name</h1>
                        <p>@Model.ShortDescription</p>
                        @if (Model.IsDiscount)
                        {
                            <span>@Model.DiscountPrice руб</span>
                            <s>@Model.Price руб</s>
                        }
                        else
                        {
                            <span>@Model.Price руб</span>
                        }
                        <form>
                            <div class="counter">
                                <button class="counter__button button_minus" type="button">
                                    <img src="~/img/svg-icons/remove-outline.svg">
                                </button>
                                <input type="text" name="productQuantity" value="1" class="counter_input"
                                       onkeydown="return specialText(this, event)" maxlength="2" onblur="onblurCounter(this)">
                                <input type="hidden" asp-for="@Model.Id" />
                                <button class="counter__button button_plus" type="button">
                                    <img src="~/img/svg-icons/add-outline.svg">
                                </button>
                            </div>
                            <button type="button" class="counter_submit">
                                <span class="cart_img"></span>
                                <span>КУПИТЬ</span>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </section>
        <section class="product_options">
            <div class="container">
                <ul class="tabs">
                    <li data-tab="tab-desc" class="tabs__item tab_active">
                        Описание
                    </li>
                </ul>
                <div class="tabs__list">
                    <div class="tab-block tab-desc tab_block_active">
                        <p class="product_description">
                            @Model.LongDescription
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>