<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/layout.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/counter.js"></script>
    <script src="~/js/script.js"></script>
    <title>@ViewData["Title"] | Shop</title>
</head>
<body>
    <ul class="notifications_list">
    </ul>
    <header>
        <div class="left-toolbar">
            <div class="toolbar_list">
                <a asp-action="Index" asp-controller="Product" asp-route-category="Sofas"
                   class="@((string)ViewData["CurrentCategory"] == "Sofas" ? "active" : "") toolbar_list__item">Диваны</a>
                <a asp-action="Index" asp-controller="Product" asp-route-category="ArmChairs"
                   class="@((string)ViewData["CurrentCategory"] == "ArmChairs" ? "active" : "") toolbar_list__item">Кресла</a>
                <a asp-action="Index" asp-controller="Product" asp-route-category="Chairs"
                   class="@((string)ViewData["CurrentCategory"] == "Chairs" ? "active" : "") toolbar_list__item">Стулья</a>
                <a asp-action="Index" asp-controller="Product" asp-route-category="Tables"
                   class="@((string)ViewData["CurrentCategory"] == "Tables" ? "active" : "") toolbar_list__item">Столы</a>
            </div>
        </div>
        <div class="top_toolbar">
            <div class="burger">
                <div class="burger_item"></div>
                <div class="burger_item"></div>
                <div class="burger_item"></div>
            </div>
            @await Component.InvokeAsync("Cart")
            
        </div>
        <div class="container">
            <div class="header_contacts">
                <a href="tel:78000000000" class="header_contacts__item">+7(800)000-00-00</a>
                <a href="mailto:lorem@example.com" class="header_contacts__item">lorem@example.com</a>
            </div>
            <a href="/"><div class="logo">Магазинчик</div></a>
            <div class="icons_wrapper">
                <a asp-controller="Admin" asp-action="Home" class="header_icon user_acc">
                    <i class="acc_img"></i>
                </a>
                @await Component.InvokeAsync("Cart")
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="cats__wrapper">
                <ul>
                    <li class="@((string)ViewData["CurrentCategory"] == "Sofas" ? "category_active" : "")">
                        <a asp-action="Index" asp-controller="Product" asp-route-category="Sofas">Диваны</a>
                    </li>

                    <li class="@((string)ViewData["CurrentCategory"] == "ArmChairs" ? "category_active" : "")">
                        <a asp-action="Index" asp-controller="Product" asp-route-category="ArmChairs">Кресла</a>
                    </li>

                    <li class="@((string)ViewData["CurrentCategory"] == "Chairs" ? "category_active" : "")">
                        <a asp-action="Index" asp-controller="Product" asp-route-category="Chairs">стулья</a>
                    </li>

                    <li class="@((string)ViewData["CurrentCategory"] == "Tables" ? "category_active" : "")">
                        <a asp-action="Index" asp-controller="Product" asp-route-category="Tables">столы</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <span>Все права почти защищены</span>
    </footer>
</body>
</html>