@model Cart
<main class="cart_page">
    <div class="container">
        <h1>Корзина</h1>
       @foreach (var item in Model.ItemList)
        {
            <div class="product__item">
                <img src="~/@item.Product.ImageUrl" alt="">
                <div class="product_wrapper">
                    <a asp-action="ProductPage" asp-controller="Product" asp-route-productId="@item.Product.Id">@item.Product.Name</a>
                    <div class="price_wrapper">
                        @if (item.Product.IsDiscount)
                        {
                            <span class="price">@item.Product.DiscountPrice&nbsp;руб</span>
                            <span class="old_price">@item.Product.Price&nbsp;руб</span>
                        }
                        else
                        {
                    <span class="price">@item.Product.Price&nbsp;руб</span>
                        }
                    </div>
                </div>
                <div class="product_wrapper">
                    <div class="counter counter_cart">
                        <button class="counter__button button_minus action_button" type="button">
                            <img src="/img/svg-icons/remove-outline.svg">
                        </button>
                        <input type="text" value="@item.Quantity" class="counter_input" maxlength='2' onkeydown="return specialText(this, event)" onblur="if (this.value == '0') { this.value = 1; }">
                        <input type="hidden" />
                        <button class="counter__button button_plus action_button" type="button">
                            <img src="/img/svg-icons/add-outline.svg">
                        </button>
                    </div>
                    <span class="product_total"></span>
                </div>
                <div class="product_delete action_button"><img src="~/img/svg-icons/remove-product.svg" alt="cross"></div>
            </div>
        }
        <div class="cart_summary">
            <h2>Итого</h2>
            <span class="sum_price"></span>
            <div class="sum_submit">оформить заказ</div>
        </div>
    </div>
</main>